* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 90%;
  height: 100vh;
  margin: auto;
  color: var(--foreground);
  background-image: url('./../shared/assets/img/bg.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background: var(--background);
  backdrop-filter: blur(1px) !important;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.plug {
  height: 74%;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  margin: auto;
  padding: 10%;
  color: black;
  font-size: 24px;
  background-color: rgb(255, 255, 255, 0.5);
}
