.servicesSection {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 3%;
  padding-bottom: 0.9%;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

  img {
    object-fit: cover;
  }

  button:hover {
    border: 1px solid rgb(246, 248, 246);
  }
}

@media (max-width: 880px) {
  .servicesSection {
    flex-direction: column;
  }
  .servicesList {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 460px) {
  .servicesSection {
    width: 100%;
    padding: 1% 0;
  }
}
